* {
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
    text-decoration: none;
    color: rgb(64, 47, 122);
}

body{
    background-color: #ebc313;
}

/*-Mobile First-*/
/*header*/
.header{
    width: 100%;
    height: 80px;
    text-align: center;
}
.img-header{
    width: 80%;
    padding: 20px;
}
/*section formulário*/
.section-formulario{
    width: 100%;
    padding: 12px;
}
.legenda-formulario{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    padding: 5px;
    color: #8108f3;
}
.caixaDeTexto-formulario{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-style: none;
}
.botaoFormulario{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: rgb(64, 47, 122);
    background-color: #824fbd;
    border-style:none;
}
/*section tabela de exibição*/
.section-tabela{
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
table{
    background-color: #824fbd;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
}
th{
    font-size: 8px;
    padding: 4px;
}

td{
    font-size: 9px;
    text-align: center;
    word-break: break-word;
}
.botao-tabela{
    width: 15px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icon_lixeira.png);
    border-style: none;
    border-radius: 2px;
    background-color: #824fbd;
}
/*-Tablet-*/
@media (min-width: 768px) {
    .header{
        height: 100px;
    }
    .img-header{
        width: 60%;
        padding: 35px;
    }
    .section-formulario{
        padding-left: 60px;
        padding-right: 60px;
    }
    .section-tabela{
        margin-left: 60px;
        margin-right: 60px; 
    }
    table{
        width: 100%;
        margin: 0;
    }
    th{
        font-size: 12px;
        padding: 15px;
    }
    
    td{
        font-size: 12px;
    }
    .botao-tabela{
        width: 25px;
        height: 25px;
    }
}
/*-Desktop-*/
@media (min-width: 1281px) {
    .header{
        height: 200px;
    }
    .img-header {
        padding-left: 180px;
        padding-right: 180px;
        padding-top: 80px;
    }
    .section-formulario{
        padding-left: 180px;
        padding-right: 180px;
    }
    .section-tabela{
        margin-left: 180px;
        margin-right: 180px; 
    }
    .legenda-formulario{
        font-size: 20px;
    }
    .caixaDeTexto-formulario{
        padding: 15px;
    }
    .botaoFormulario{
        font-size: 20px;
        padding: 10px;
    }
    th {
        font-size: 20px;
        padding: 10px;
    }
    td {
        font-size: 20px;
        padding: 5px;
    }

    .botao-tabela{
        width: 35px;
        height: 35px;
    }
    
}
